$primary: #1DB954;
$secondary:#212121;
$triary:#121212;
$quadary:#535353;
$quindary:#b3b3b3;


$shadow: 0 2px 10px rgba(104, 101, 104, 0.07);
$shadow-hover: 0 4px 16px rgba(104, 101, 104, 0.13);

$text-light:$quindary;
$text-dark:$secondary;