.App-link {
  color: #61dafb;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
}

.spotifyLogo {
  width: 200px;
}

h1 {
  margin-left: 20px;
  color: white;
  width: 100%;
  text-align: left;
  font-size: 24px;

}

body {
  background-color: #400187;
}

.loginBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 75px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2%;
  font-size: larger;
}

@media screen and (max-width: 768px) {
  .spotifyLogo {
    width: 150px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 18px;
  }
}
