@import "../../util/variables.scss";
.dashboard {
  display: block;
}
.left-side {
  float: left;
}
.profile {
  .profile-img {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    object-fit: cover;
  }
  padding-top: 2vh;
  display: flex;
  align-items: center;
  color: $text-light;
  font-size: 6vh;
  width: 70vh;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.playlists {
  color: $text-light;
  margin-left: 5vh;

  h3 {
    font-size: 4vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
  }
  a {
    text-decoration: none;
    color: $text-dark;
  }
  .playlist-holder {
    background-color: $quadary;
    display: flex;
    overflow-x: scroll;
    gap: 3vh;
    padding: 3vh;
    width: 100vh;
    border-radius: 20px 20px;
    scrollbar-color: $quindary $quadary;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: $quadary;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $quadary;
      border-radius: 20px;
      border: 2px solid $secondary;
    }
    .playlist {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px 10px;
      text-align: center;
      background-color: $quindary;
      width: 25vh;
      height: 30vh;
      .playlist-cover {
        text-overflow: ellipsis;
        width: 20vh;
        height: 20vh;
        border-radius: 10px 10px;
        margin-bottom: 1vh;
      }
      &:hover {
        cursor: pointer;
        background-color: darken($primary, 10%);
      }
    }
  }
}

.top-songs {
  margin-top: 4vh;
  margin-right: 5vh;
  float: right;
  gap: 3vh;
  h3 {
    text-align: center;
    color: $text-light;
    font-size: 4vh;
    margin-top: 0;
    margin-bottom: 2vh;
  }
  a {
    text-decoration: none;
    color: $text-dark;
  }
  .top-songs-holder {
    overflow-y: scroll;
    padding-left: 1vh;
    padding-top: 3vh;
    background-color: $quadary;
    height: 66vh;
    width: 55vh;
    border-radius: 20px 20px;
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    scrollbar-color: $quindary $quadary;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: $quadary;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $quadary;
      border-radius: 20px;
      border: 2px solid $secondary;
    }
  }
  .top-5-song {
    width: 50vh;
    display: flex;
    align-items: center;
    background-color: $quindary;
    margin-bottom: 3vh;
    border-radius: 10px 10px;
    .song-cover {
      width: 15vh;
      height: 15vh;
      border-radius: 10px 10px;
      margin-right: 2vh;
    }
    .name-artist-holder {
      marging-left: 2vh;
      text-align: left;
      font-size: 2vh;
    }
    &:hover {
      cursor: pointer;
      background-color: darken($primary, 10%);
    }
  }
}
