@import "../../util/variables.scss";

.dashboard {
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  margin-top: 1vh;
}
.right {
  margin-top: -30vh;
  display: flex;
  align-items: flex-end;
}
.profile {
  .profile-img {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4vh;
  }

  h1 {
    margin: 0;
  }

  display: flex;
  align-items: center;
  color: $text-dark;
  font-size: 6vh;
  width: 40vh;
}

.multi-item {
  color: $text-light;
  margin-left: 2vh;
  margin-top: 1vh;
  display: flex;
  justify-content: space-evenly;
  background-color: $quadary;
  width: 153vh;
  height: 23vh;
  border-radius: 20px 20px;
  align-items: center;
  text-align: center;
  h3 {
    font-size: 3vh;
    margin-left: 2vh;
    width: 20vh;
    margin-right: 2vh;
  }

  a {
    text-decoration: none;
    color: $text-dark;
  }
  .recent {
    h4 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 8vh;
      margin-top: 5px;
      margin-bottom: 0;
    }
    p {
      margin: 5px;
    }
  }
  .multi-item-holder {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 3vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    width: 80%;
    height: 85%;
    scrollbar-color: $quindary $quadary;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $quadary;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $quadary;
      border-radius: 20px;
      border: 2px solid $secondary;
    }

    .album {
      font-size: 1.3vh;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px 10px;
      text-align: center;
      background-color: $quindary;
      width: 18vh;
      height: 18h;
      justify-content: space-between;
      h3 {
        margin-left: 3vh;
      }
      .album-cover {
        text-overflow: ellipsis;
        width: 12vh;
        height: 12vh;
        border-radius: 10px 10px;
        margin-bottom: 1vh;
      }

      &:hover {
        cursor: pointer;
        background-color: darken($primary, 10%);
      }
    }
  }
}

.top3 {
  margin-left: 2vh;
  margin-top: 1vh;
  gap: 3vh;
  background-color: $quadary;
  width: 40vh;
  border-radius: 20px 20px;
  height: 55vh;
  h3 {
    text-align: center;
    color: $text-light;
    font-size: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  h4 {
    width: 15vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  a {
    text-decoration: none;
    color: $text-dark;
  }

  .top-holder {
    padding-left: 1vh;
    height: 80%;
    display: flex;
    align-self: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .top-3-item {
    width: 30vh;
    display: flex;
    align-items: center;
    background-color: $quindary;
    margin-bottom: 3vh;
    border-radius: 10px 10px;

    .item-cover {
      width: 12vh;
      height: 12vh;
      border-radius: 10px 10px;
      margin-right: 1vh;
    }

    .name-artist-holder {
      margin-left: 2vh;
      text-align: left;
      font-size: 1.5vh;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($primary, 10%);
    }
  }
}
